
h1{
    color: red;
}

.card{
    border-style: solid;
    border-width: 3px;
    border-color: aqua;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;

    text-align: center;

    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;

    background-color: white;
}

.card img{
    width: 100%;
}

body{
     background:linear-gradient( rgb(124, 204, 241), rgb(109, 224, 168));
    margin: 0;
}
.card button{
    width: 70%;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
.navbar{
    text-align: center;
    border: 3px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
    background: rgb(181, 224, 251);

}


.navbar a{
    margin-right: 50px;
    color: rgb(117, 24, 24);
    text-decoration: none;
}
.navbar a:hover{
    color: rgb(237, 145, 26);
}